@use "../shared/index.scss" as shared;

.workspace-tabs
// .mod-top.mod-top-right-space 
.workspace-leaf-content 
.view-content .empty-state{
  background-image: #{shared.$bg-image};
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-blend-mode: screen;
}
.workspace-tabs
// .mod-top.mod-top-right-space 
.workspace-leaf-content 
.view-content .empty-state .empty-state-container{
  background: #{shared.$shade};
  border-radius: 1em 1em;
  padding: 1em .5em;
}