@use "@shared/wallpapers/wallpapers.scss" as wp;

@forward "@shared/marionic-colors.scss";
@forward "@shared/extendme.scss";
@forward "@shared/mixins.scss";
@forward "@shared/wallpapers/wallpapers.scss";
@forward "@shared/material-ui-colors.scss";
@use "@shared/material-ui-colors.scss" as MAT_COLORS;
// raw colors isn't used anymore, but i keep it for reference.

$button-border-color: #ffffff;
$topbar-blend: hard-light;
@mixin mx--topbar-blend() {
  // background-blend-mode: hard-light;
}
@mixin mx--leftbar-ribbon-blend {
  // background-blend-mode: normal;
}
@mixin mx--file-explorer-blend {
  // background-blend-mode: screen;
}
@mixin mx--workspace-inner-tab {
  // background-blend-mode: screen;
}

// # Overrides
$TOGGLE_IMAGE: false;
$shade: rgba(0, 0, 0, 0.8);
// $shade: unset;

// in the future an extend would be good that way i can test removing all backgrounds entirely;
// $bg-image: url(https://cdnb.artstation.com/p/assets/images/images/003/508/149/large/lorenz-hideyoshi-ruwwe-barbarossa-brunhilde-final-s.jpg);
$bg-image: unset;

%fixed-bg {
  @if ($TOGGLE_IMAGE == true) {
    background-image: #{wp.$mm-image};
  }

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-blend-mode: overlay;
}
%bg {
  @if ($TOGGLE_IMAGE == true) {
    background-image: #{wp.$mm-image} !important;
  }
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

$ßlocal-wfb--active-vtabheader-bg-image: wp.$dark-blue-grad, wp.$mm-image,
  wp.$anu-image;
$local-bg-image: #{$bg-image};
%bgfixednorepeat {
  // background-image: #{$local-bg-image};
  background-attachment: fixed;
  background-repeat: no-repeat;
}

$colorsMap: (
  red: MAT_COLORS.$material-color-amber-a400,
  green: MAT_COLORS.$material-color-light-green-a400,
  blue: MAT_COLORS.$material-color-light-blue-a400,
  purple: MAT_COLORS.$material-color-deep-purple-200,
  orange: MAT_COLORS.$material-color-orange-a400,
  yellow: MAT_COLORS.$material-color-amber-50,
  pink: MAT_COLORS.$material-color-pink-a100,
  teal: MAT_COLORS.$material-color-teal-a400,
  cyan: MAT_COLORS.$material-color-cyan-a400,
  lime: MAT_COLORS.$material-color-lime-a400,
  brown: MAT_COLORS.$material-color-brown-a400,
);
