@forward "./marionic-colors.scss";
@forward "./extendme.scss";
@forward "./mixins.scss";
@forward "./wallpapers/wallpapers.scss";
@forward "./material-ui-colors.scss";

$button-border-color: #ffffff;
$topbar-blend: hard-light;

// # Overrides
// $shade:rgba(0, 0, 0, 0.8);
// in the future an extend would be good that way i can test removing all backgrounds entirely;
$shade: unset;   
$bg-image: url(https://cdnb.artstation.com/p/assets/images/images/003/508/149/large/lorenz-hideyoshi-ruwwe-barbarossa-brunhilde-final-s.jpg);
