@forward "./marionic-colors.scss";
@forward "./extendme.scss";
@forward "./mixins.scss";
@forward "./wallpapers/wallpapers.scss";
@forward "./material-ui-colors.scss";

$button-border-color: #ffffff;
$topbar-blend: hard-light;
$shade:rgba(0, 0, 0, 0.8);
