// $mm-image: url("https://external-preview.redd.it/m6KVG2ylFWyWPOcGn7srI0GSfIiFOPTol8r-vz6aLtw.jpg?auto=webp&s=93a2314e5327fe99eeae0e308e1430e1ebdd36d9");
// background-color:hsla(266,42%,16%,1);
// background-image:
// radial-gradient(at 17% 60%, hsla(0,29%,5%,1) 0px, transparent 50%),
// radial-gradient(at 18% 91%, hsla(189,38%,14%,1) 0px, transparent 50%),
// radial-gradient(at 22% 37%, hsla(340,9%,13%,1) 0px, transparent 50%),
// radial-gradient(at 34% 68%, hsla(210,48%,46%,0.57) 0px, transparent 50%),
// radial-gradient(at 13% 28%, hsla(242,100%,70%,1) 0px, transparent 50%),
// radial-gradient(at 0% 0%, hsla(187,10%,41%,1) 0px, transparent 50%);

$anu-image: url("https://i.redd.it/m23bwh4n0x151.png");

$midnight-grad: url("https://i.ibb.co/wBf6t09/Win-Blur-3qhd.png");
$white-grad: url("https://i.imgur.com/5loivLV.jpg");
$dark-blue-grad: url("http://i.imgur.com/RBTON.jpg");

// # Scapes

// ## Purplescape 
// $mm-image: url(https://i.redd.it/jpuwznzf2wcb1.jpg);

// ## Purple Edgescape
// $mm-image: url(https://external-preview.redd.it/qiS6FTlK2fPyKIjCtQnDPlMWaRRc6t8ynBTGES-wK5c.jpg?auto=webp&s=665fac054a914ad24cf877d5e6201384c5f60274);
// ## Bluescape 
// --mm-image: url(https://images4.alphacoders.com/106/1067926.jpg);
// $mm-image: url(https://images4.alphacoders.com/106/1067926.jpg);

// ## Doorscape
// --wallpaper-doorscape: url(https://images7.alphacoders.com/110/1103663.jpg);

// ## Misc
  // $mm-image: url("https://wallpapers.com/images/hd/digital-tera-online-anime-scenery-60my5y6lkon2gg3k.webp"); 
  // $mm-image: url(https://i.redd.it/e00k5xmw80db1.jpg); // bad

// # Trains

// $mm-image: url("https://i.redd.it/ew1f1ae4g83c1.png");

  // ## Spaceships LOGH
  $mm-image: url(https://cdnb.artstation.com/p/assets/images/images/003/508/149/large/lorenz-hideyoshi-ruwwe-barbarossa-brunhilde-final-s.jpg);

// # DERIVED COMPOSITE

$ßwfb--bg-image: $mm-image, $anu-image; 
// $bg-image: black;
$bg-image: #{$ßwfb--bg-image}; // for legacy;

:root {
  --midnight-grad: #{$midnight-grad};
  --dark-blue-grad: #{$dark-blue-grad};
  --white-grad: url(https://i.imgur.com/5loivLV.jpg);

  /* IMAGES:ANIMATED  */
  /* IMAGES */

  /* --mm-image: url(https://i.redd.it/m1bjkscu0k2b1.png); */
  /* --mm-image: url(https://i.redd.it/jwejw0cwmjca1.png); */
  /* --mm-image: url("https://i.redd.it/c3uhsgo1vx541.jpg"); */

  /* # Cozie wallpaper */

  /* ## Cozy rooftop */
  /* --mm-image: url(https://pbs.twimg.com/media/FTJOPMAUsAQSfEm?format=jpg&name=large); */
  /* ## Cozy city alley */
  /* --mm-image: url("https://i.redd.it/5mqp7trvxov51.jpg"); */
  /* ## Cozy 1D1 */
  // --mm-image: url(https://wallpapercave.com/wp/wp6049353.jpg);

  // # Abstract wallpaper

  // --mm-image: url(https://i.redd.it/f20upwwdrzub1.png);

  // # Sunrises

  /* Kansas Sunrise */
  // --mm-image: url(https://preview.redd.it/c5zf7oelbigb1.jpg?width=5120&format=pjpg&auto=webp&s=438581a60b55931684b47e8a8a1aa8706cb101ee);
  /* Sakura Sunrise */
  /* --mm-image: url(https://i.redd.it/0jp6buq50lfb1.png); */
  /*  */

  /* # Rooms */

  /* ## Messy Room */
  /* --mm-image: url(https://images4.alphacoders.com/132/1322758.png); */

  /* # Fantasyscape */
  /* ## Waterworld city */
  /* --mm-image: url(https://images.alphacoders.com/131/1318300.png); */

  // # House On The Bayou
  // --mm-image: url("https://i.imgur.com/ZbyNlmh.png");

  // # Wuxia Manse On A Mountain
  // --mm-image: url("https://external-preview.redd.it/m6KVG2ylFWyWPOcGn7srI0GSfIiFOPTol8r-vz6aLtw.jpg?auto=webp&s=93a2314e5327fe99eeae0e308e1430e1ebdd36d9");

  // # Scapes

  // ## R.Purplescape
  // --mm-image: url(https://i.redd.it/jpuwznzf2wcb1.jpg);

  // ## R.Purple Edgescape
  // --mm-image: url(https://external-preview.redd.it/qiS6FTlK2fPyKIjCtQnDPlMWaRRc6t8ynBTGES-wK5c.jpg?auto=webp&s=665fac054a914ad24cf877d5e6201384c5f60274);
  
  // ##  R.Bluescape
  // --mm-image: url(https://images4.alphacoders.com/106/1067926.jpg);
  // ugly

  // Doorscape
  // --wallpaper-doorscape: url(https://images7.alphacoders.com/110/1103663.jpg);

  /* # ANIME Wallapers w/action figure */

  /* ## Anime girl on School Rooftop */
  /* --mm-image: url("https://i.redd.it/aookl7ly26db1.jpg"); */

  // ## R.Spaceships LOGH
  --mm-image: url(https://cdnb.artstation.com/p/assets/images/images/003/508/149/large/lorenz-hideyoshi-ruwwe-barbarossa-brunhilde-final-s.jpg);


  /* --mm-image: url("https://wallpapers.com/images/hd/digital-tera-online-anime-scenery-60my5y6lkon2gg3k.webp"); */
  // --mm-image: url(https://i.redd.it/e00k5xmw80db1.jpg); //bad

  // # R.Trains
// --mm-image: url("https://i.redd.it/ew1f1ae4g83c1.png");
  
  --anu-image: url("https://i.redd.it/m23bwh4n0x151.png");

  /* </IMAGES> */

  /* # ARCHIVED */
  /* MAIN */

  --bg-image: #{$ßwfb--bg-image}; // be careful to interpolate

}

// # Failures
/* Too light */
/* --mm-image: url("https://i.redd.it/lt04hk5k3vcb1.jpg"); */
