@use "../shared/index.scss" as shared;
// # SHARED between splits.
.workspace-split:is(.mod-left-split, .mod-right-split) {
  .view-content {
    @extend %fixed-bg;
  }
}

// # RIGHT SPLIT
.workspace {
  .workspace-split.mod-right-split {
    // * right-split-vertical-sidedock-border.png
    &.mod-horizontal {
      border-left: 0.1em solid #{shared.$accentAlt} !important;
    }

    .workspace-tabs.mod-top-right-space {
      .workspace-tab-container {
        .workspace-leaf {
          .view-content > div:first-of-type {
            background: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    // anything that is dragged from the top right split window to the bottom r. window.
    .workspace-tabs {
      .workspace-tab-container {
        .workspace-leaf {
          .workspace-leaf-content {
            .view-content {
              > :is(div:nth-of-type(2), div:nth-of-type(1)) {
                background: shared.$shade;
              }
            }
          }
        }
      }
    }
  }
}
