// // THIS ENTIRE NOTE has to be refactored before inserting into other.scss
// // There is a lot of lag.

@use "../shared/index.scss" as shared;
// // domain driven knobs;
// $local-wfb--active-vtabheader-bg-image: #{shared.$ßlocal-wfb--active-vtabheader-bg-image};
// $local-wfb--prevalent-bg: shared.$midnight-grad, shared.$mm-image,
//   shared.$anu-image;

$local-wfb--inner-tab: var(--material-color-blue-grey-700);
// $local-wfb--inner-tab: shared.$white-grad, shared.$anu-image, shared.$mm-image;

.workspace-tabs.mod-stacked.mod-active.mod-top.mod-top-right-space
  .view-header
  .view-header-icon.clickable-icon {
  cursor: none;
  display: inherit;
}
.workspace-tabs.mod-stacked.mod-active.mod-top.mod-top-right-space
  .view-header
  .view-header-icon.clickable-icon:hover {
  box-shadow: unset;
  cursor: unset;
  opacity: 1;
  filter: brightness(1);
}

.workspace-ribbon.side-dock-ribbon.mod-left
  .clickable-icon.side-dock-ribbon-action:hover {
  border: 1px solid shared.$material-color-deep-orange-a100;
}

// /* ## Vertical Note Title (ON HOVER, NON-ACTIVE) Text */
// .workspace
//   .mod-root
//   .workspace-tabs.mod-stacked
//   .workspace-tab-container
//   .workspace-tab-header
//   .workspace-tab-header-inner:hover
//   .workspace-tab-header-inner-title {
//   // color: hsl(240, 30%, 24%);
//   // color: inherit;
//   // font-weight: 500 !important;
// }
.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header-inner-title {
  font-weight: 700;
}

.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header
  .workspace-tab-header-inner:hover {
  transform: translateY(1%);
}

/* INNER TAB FOR FILE */
.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header.mod-active.is-active
  .workspace-tab-header-inner,
.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header
  .workspace-tab-header-inner {
  // --background-primary: unset;
  transition-duration: 100ms;
  transition-property: transform;

  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  min-height: 21vh;
  height: auto;
  background-color: #{$local-wfb--inner-tab};
  // @include shared.mx--workspace-inner-tab();
  /* Set the background size and repeat properties if needed */
  background-attachment: fixed;
  border-bottom-left-radius: 40px;
  &:is(hover, *) {
    background: #{$local-wfb--inner-tab} !important;
  }
}

// /* Active text title */
.workspace
  .mod-root
  .workspace-tabs.mod-stacked
  .workspace-tab-container
  .workspace-tab-header {
  color: shared.$material-color-deep-orange-a200;
  .workspace-tab-header-inner-title {
    // writing-mode: vertical-lr !important;
    // text-orientation: upright;
    // text-transform: uppercase;
  }
  &.mod-active.is-active .workspace-tab-header-inner-title {
    font-weight: 800;
    color: shared.$material-color-deep-orange-a400;
  }
}
