@use "../shared/index.scss" as shared;

.nav-files-container {
  border-left: 1px solid var(--material-color-orange-500);
  background-image: shared.$midnight-grad, shared.$mm-image, shared.$anu-image;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: color;
  contain: paint;
}

/* NAV FILE EXPLORER BACKDROP */
.nav-files-container .tree-item.nav-folder {
  background: rgba(0, 0, 0, 0.6);
}
