@use "../shared/index.scss" as shared;

.nav-files-container {
  border-left: 1px solid shared.$material-color-orange-500;
  // @extend %fixed-bg;
  // background-blend-mode: unset;

  background-image: #{shared.$midnight-grad};
  background-size: 100% 100%;

  // background-blend-mode: color;
  // contain: paint;

  /* NAV FILE EXPLORER BACKDROP */
  .tree-item.nav-folder {
    background: rgba(0, 0, 0, 0.6);
    color: shared.$embedBorderColor;
  }
}

.nav-file-title.is-active > .tree-item-inner.nav-file-title-content::after {
  /* background: var(--theme-color-translucent-2); */
  content: "⛩️";
  position: absolute;
  transform: rotate(-30deg) translateY(-50%);

  left: 0;
}

/* fix for missing nw icons when app refocuses on icon clicks */
.workspace-tabs.mod-top.mod-top-left-space {
  .workspace-tab-header-container-inner {
    // every child below is now an icon.
    .workspace-tab-header {
      // 👆 is every child element;
      .workspace-tab-header-inner {
        .workspace-tab-header-inner-icon > svg.svg-icon {
          stroke-width: 3px;
          color: shared.$material-color-orange-500;
        }
      }
      @for $i from 1 through length(shared.$colorsMap) {
        &:nth-child(#{$i}) {
          .workspace-tab-header-inner-icon > svg.svg-icon {
            color: shared.getRandomColor(shared.$colorsMap);
            @debug "Color: #{shared.getRandomColor(shared.$colorsMap)}";
          }
        }
      }
    }
  }
}

// .workspace-tabs.mod-top.mod-top-left-space .workspace-tab-header-container-inner .workspace-tab-header .workspace-tab-header-inner .workspace-tab-header-inner-icon:hover > svg.svg-icon {
//   stroke-width: 3px;
//   color: shared.$material-color-red-a200;
// }

.workspace-split.mod-horizontal.mod-right-split
  .workspace-tabs
  > .workspace-tab-header-container
  > .workspace-tab-header-container-inner
  .workspace-tab-header-inner-icon:hover
  > svg.svg-icon {
  stroke-width: 3px;
  color: shared.$material-color-red-a200;
}
.workspace-tabs.mod-top.mod-top-left-space
  .workspace-tab-header-container-inner
  .workspace-tab-header.is-active
  .workspace-tab-header-inner
  .workspace-tab-header-inner-icon
  > svg.svg-icon {
  stroke-width: 3px;
  color: shared.$material-color-red-a200;
}

.workspace
  .nav-files-container
  .nav-folder:has(.nav-folder-title[data-path^="_"]) {
  display: none !important;
}
