@use "@shared" as shared;

.markdown-source-view {
  .cm-contentContainer {
    .HyperMD-quote {
      .cm-hmd-internal-link .cm-underline {
        color: shared.$altLinkColor;
      }
      .cm-em.cm-quote {
        color: shared.$italicColor;
      }
    }

    // ## DATAVIEW INLINE QUERY (designed for MUID-150 Meta Endpoint)
    .markdown-rendered {
      .callout[data-callout="abstract"],
      .callout[data-callout="summary"],
      .callout[data-callout="tldr"] {
        blockquote {
          p {
            .dataview.dataview-inline-query {
              a.internal-link:nth-of-type(2n + 1) {
                color: shared.$altLinkColor !important;
              }
            }
          }
        }
      }
    }
  }
}
