@use "@shared" as shared;

// #TODO i need to share this dataview container
%dataview-container {
  // border: 2px solid var(--material-color-deep-orange);
  border: 2px solid shared.$borderColor;
  border-right-width: 1em;
  background-image: #{shared.$dark-blue-grad};
  border-radius: 0.5em 0.5em;
  padding-left: 0.1em;
}

:root {
  body {
    --container-table-width: clamp(1000px, 500px, 50%);
  }
}

// # source view
.markdown-source-view {
  .markdown-embed-content {
    .markdown-preview-view.markdown-rendered {
      .block-language-dataviewjs {
        p {
          width: 100% !important;
          background-color: #{shared.$primaryAlt} !important;
          ul {
            margin: 0 !important;
          }
        }
        li:has(ul) {
          // list-style-type: none;
          p {
            background-color: #{shared.$primary} !important;
          }
        }

        > div:first-of-type {
          background-color: shared.$accentAlt;
          ul {
            margin-top: 0.5em;
          }
        }
        li:has(span.internal-embed[alt*="=$"]) {
          & ~ li:nth-child(2n + 2) {
            background-color: shared.$callout;
          }
          & ~ li:nth-child(2n + 1) {
            background-color: shared.$calloutAlt;
          }
          border-top: 0.1em solid shared.$borderColor;
        }
      }
    }
  }
  .cm-preview-code-block.cm-embed-block.markdown-rendered {
    .block-language-dataviewjs {
      @extend %dataview-container;
      ul.dataview.list-view-ul:nth-of-type(1) {
        ul.dataview.dataview-ul.dataview-result-list-ul:nth-of-type(1) {
          li.dataview-result-list-li:has(ul) {
            li.dataview-result-list-li:not(:first-of-type) {
              a {
                color: shared.$embedPrimaryLinkColor;
              }
            }
          }
        }
      }
    }
  }
}

@mixin border-left {
  border-left: 0.1em solid #{shared.$embedPrimaryLinkColor};
}
.internal-embed.markdown-embed {
  .markdown-embed-content {
    .block-language-dataviewjs {
      .deleteme {
        ul:first-child {
          li {
            &::marker {
              content: " ⊙ ";
              color: #{shared.$secondaryAlt};
            }
          }

          > li {
            & > a:has(~ ul) {
              display: block;
              // border: 0.2em solid #{shared.$embedPrimaryLinkColor};
              border-top: 0.2em solid #{shared.$embedPrimaryLinkColor};
              @include border-left;
              border-bottom: 0px;
              // border-radius: 5px 10px 0 0;
              border-top-left-radius: 5px;
              border-top-right-radius: 10px;
              border-right: 0px;
              padding-left: 0.3em;
            }
          }

          > li {
            li:nth-child(2n + 1) {
              //odd
              background-color: #{shared.$calloutAlt};
              border: 1px solid #{shared.$material-color-blue-600};
            }
          }

          > li {
            li:nth-child(2n) {
              background-color: #311b92;
              border: 1px solid #651fff;
            }
          }
        }
        & > span > ul {
          & > li:has(ul) {
            border-right: 0.2em solid #{shared.$embedPrimaryLinkColor};
            border-bottom: 0px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 8px;

            // & > a:first-child {
            //   display: block;
            //   border-top: 0.2em solid #{shared.$embedPrimaryLinkColor};
            //   border-top-right-radius: 10px;
            //   border-right: 0px;
            // }
          }

          & > li > span.internal-link:has(~ ul) {
            display: block;
            border-top: 0.2em solid #{shared.$embedPrimaryLinkColor};
            border-top-right-radius: 10px;
            border-right: 0px;
            @include border-left;
            border-top-left-radius: 5px;

            a {
              margin-left: 0.5em;
            }
          }

          // ## Root : no nested elements
          & > li:has(> a:only-child) {
            border-top: 0.3em solid #{shared.$altLinkColor};
            border-top-left-radius: 10px;
            border-bottom-left-radius: 3px;

            border-top-right-radius: 10px;
            // border-right: 0px;
            border-right: 0.3em solid #{shared.$altLinkColor};
            // border-bottom: 0.1em solid #{shared.$altLinkColor};
            border-bottom-right-radius: 10px;
            text-indent: 0.5em;
            // display: inline-block;
          }
        }
      }
    }
  }
}
