@use "sass:color";
@use "sass:list";

@use "../shared/index.scss" as shared;

// https://github.com/ozntel/file-explorer-note-count

$note_color: shared.$secondaryAlt;
// $hue: 80deg,
$num-colors: 100;

@mixin random-bgr() {
  color: getRandomColor();
  font-weight: bold; /* Make text bolder */
}

$colorsMap: (
  red: shared.$material-color-amber-a400,
  green: shared.$material-color-light-green-a400,
  blue: shared.$material-color-light-blue-a400,
  purple: shared.$material-color-deep-purple-200,
  orange: shared.$material-color-orange-a400,
  yellow: shared.$material-color-amber-50,
  pink: shared.$material-color-pink-a100,
  teal: shared.$material-color-teal-a400,
  cyan: shared.$material-color-cyan-a400,
  lime: shared.$material-color-lime-a400,
  brown: shared.$material-color-brown-a400,
);
@function getRandomColor() {
  // $note_color: color.adjust($note_color, $lightness: 10%, $saturation: 30%);
  $random_color_index: random(length($colorsMap));

  @each $key, $value in $colorsMap {
    $index: index($colorsMap, $key $value);
    @if $index == $random_color_index {
      $note_color: map-get($colorsMap, $key);
      @return $note_color;
    }
  }
  @debug "Please check the colorsMap";
  @return black;
  // color.adjust($note_color, $lightness: 50%, $saturation: 30%);
}

// media queries dont work here in obsidianland
@for $i from 0 to $num-colors {
  // because of scope and pre-read-process behavior, anything dynamic inside of the curly braces can't be acted upon. Some exceptions like the computed value given by the widht of the containing element, but generally no.
  .nav-files-container .tree-item.nav-folder:nth-child(#{$i}) {
    .nav-folder-title[data-count] {
      &[data-count]::before {
        // "|";
        /* background-color: var(--background-secondary-alt); */
        /* border-radius: 3px; */
        @include random-bgr;
        content: attr(data-count) "\2009" "\2229";
        // display: inline-block;
        font-size: calc(100% * 0.8);
        // margin-right: 4px;
        padding-left: 3px;
        // padding: 2px 0;
        text-align: right;
        transition: opacity 100ms ease-in-out;
        // width: 2.43rem;
        position: absolute;
        transform: translateY(-85%);
        top: 85%;
        right: 1rem;
        // $brightness: 100%
        // chain += `* <b style="filter: hue-rotate(180deg) saturate(0%) brightness(100%)"> ${slice}</b>\n`
      }
    }
  }
}
