@forward "./floating-toc.scss";
@forward "./long-form-leaf.scss";
@forward "./breadcrumbs.scss";

@forward "./dataview.scss";
// @forward "./fountain.scss";
// @forward "./novel-word-count.scss";
// @forward "./file-explorer-note-count.scss";

@forward "./slides.scss";
@use "@shared" as shared;

$local-write-good-color: #{shared.$borderColor};
.write-good-mark {
  text-decoration: underline wavy #{$local-write-good-color};
}
.write-good-suggestion {
  color: #{$local-write-good-color};
}

// # PIXEL BANNER

.popover {
  .markdown-embed {
    .pixel-banner-image + .markdown-preview-sizer.markdown-preview-section {
      margin-top: 0 !important;
    }
  }
}
