.nav-files-container .nav-folder > .nav-folder-children .nav-file .nav-file-title::after,
.nav-folder-title .nav-files-container .nav-file-title::after {
  content: attr(data-novel-word-count-plugin) !important;
  flex: 1 0 auto;
  font-size: 0.8em;
  max-width: calc(100% - 20px);
  min-width: 0;
  opacity: 0.75;
  order: 1;
  overflow: hidden;
  padding: 0 4px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  // right: -3em;
  text-align: right;
  padding-right: 5em;
  text-align: right;
  right: 1em;
  position: absolute;
}

