@use "@shared" as shared;

// # HEADER ITEMS

.templater-inline {
  --material-color-amber-400: #ffca28;

  $_header_bg: shared.$material-color-purple-900;
  $_header_color: var(--material-color-amber-400);
  background: #{$_header_bg};

  span.cm-templater-command.cm-templater-execution-tag,
  .cm-templater-closing-tag.cm-templater-command.cm-templater-execution-tag {
    color: #{$_header_color};
    background: $_header_bg;
  }
  span.cm-null.cm-templater-command,
  span.cm-comment.cm-templater-command {
    background: $_header_bg;
    color: #{$_header_color};
    text-decoration: underline;
  }

  span.cm-templater-opening-tag {
    color: #{$_header_color};
    background: $_header_bg;
  }
}

// # LIST ITEMS

@mixin evenListColorAndBackground {
  background: shared.$material-color-purple-200;

  .cm-comment.cm-templater-command {
    color: shared.$material-color-purple-900;
  }
}
@mixin oddListColorAndBackground {
  background: shared.$material-color-purple-100;

  .cm-comment.cm-templater-command {
    color: shared.$material-color-blue-900;
  }
}
.cm-contentContainer {
  .templater-command-bg.cm-line[style*="padding-inline-start: 16px;"] {
    font-weight: bold;
    color: shared.$bookSource;
  }
  .templater-command-bg.cm-line[style*="padding-inline-start: 16px;"]:nth-child(
      odd
    ) {
    @include oddListColorAndBackground();
  }
}
.templater-command-bg.cm-line[style*="padding-inline-start: 16px;"]:nth-child(
    even
  ) {
  @include evenListColorAndBackground();
}

// 2nd level
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 36px;"],
    [style*="padding-inline-start: 34px;"]
  ):nth-child(even) {
  @include evenListColorAndBackground();
}
.templater-command-bg.cm-line:is(
    [style*="padding-inline-start: 36px;"],
    [style*="padding-inline-start: 34px;"]
  ):nth-child(odd) {
  @include oddListColorAndBackground();
}
