@use "./shared/index.scss" as shared;
// eventually combine to the base of shared so i can use overrides

$accent: hsl(174, 60%, 51%);
$topbar-blend: hard-light;
$shade: shared.$shade;

:root {
  --accent: #37cdbe;
  --primary: #570df8;
  --secondary: shared.$primaryAlt;
  --neutral: #3d4451;
  --base-100: #ffffff;
  --info: #3abff8;
  --success: #36d399;
  --warning: #fbbd23;
  --error: #f87272;
  --book-source: #8272d0;

  // BLUE TOPAX COLORS
  --theme-color-translucent-1: #2f93e426;

  --progress-color: #{$accent};
  --progress-bg-color: var(--primary);

  /* # RANDOM GLOBALS */

  /* ## Translucency Helpers */
  --blurbrightness: 0.28;
  --blur: 7px;

  /* ## I HATE NAMING */
  --topbar-blend: hard-light;
}
/* --mm-image: url('https://images.pling.com/img/00/00/61/99/23/1599583/7c142d99d624ed71b0548e60cb3dd709e57babfdd2d120e4ee027412c1333533e422.jpg'); */
/* https://i.imgur.com/StZak.jpg); */
/* https://i.redd.it/y00h9ri5sg581.png */
/* url(https://i.redd.it/g6amsf4c7up91.jpg) */
