@use "./shared/index.scss" as shared;
@use "sass:math";

//  make some extended thing so that both views are reusing styles

%dataview-container {
  border: 2px solid shared.$borderColor;
  border-right-width: 1em;
  background-image: #{shared.$dark-blue-grad};
  border-radius: 0.5em 0.5em;
  padding-left: 0.1em;
}

// # dataview

// ## Dataview:Shared between views
.markdown-source-view,
.markdown-reading-view {
  .block-language-dataview {
    border: 2px solid #{shared.$borderColor};
    border-radius: 1em 1em;
    background: #{shared.$shade};
  }
}

// ## Dataview: Reading View
.markdown-reading-view {
  .markdown-preview-view.markdown-rendered {
    .markdown-preview-sizer.markdown-preview-section {
      .block-language-dataviewjs {
        @extend %dataview-container;
        padding: 0.5em 1em;
      }
      // Make the inner dataview box be 90% of the containing embed box
      > div:last-child {
        max-width: 90%;
      }
    }
  }
}

// # Source view remove embedded backlinks
.workspace-leaf-content {
  .view-content {
    .markdown-source-view {
      .cm-editor {
        .cm-sizer .embedded-backlinks {
          display: none !important;
        }
      }
    }
  }
}
// # Source view
.markdown-source-view {
  /* Remove scroll on embeds. */

  .internal-embed.markdown-embed.is-loaded[alt*="ui-noscroll"] {
    .markdown-embed-content {
      .markdown-preview-view.markdown-rendered.node-insert-event.show-indentation-guide
        .markdown-preview-sizer.markdown-preview-section {
        overflow: hidden;
      }
    }
  }
}

:is(.canvas-wrapper, .markdown-source-view) {
  .cm-preview-code-block.cm-embed-block.markdown-rendered {
    .internal-query {
      border: 2px solid shared.$embedBorderColor;
      max-height: 35vmin;
      overflow-y: scroll;
    }
  }

  .markdown-embed {
    .markdown-embed-link[aria-label="Open link"] {
      padding-top: 1em;
      margin-right: 1em;
      // pointer-events: none;
    }
  }

  // # OLK

  // hide transcluded headers for olk (omit linkage)
  .callout-content {
    .internal-embed[alt*="olk"].markdown-embed {
      // OLK Temporary
      .inline-title {
        display: none;
      }
    }
  }
  .internal-embed[alt="olk"].markdown-embed,
  .internal-embed[alt*="ui=olk"].markdown-embed,
  .internal-embed[alt*="t=olk"].markdown-embed {
    .markdown-preview-sizer > div:nth-of-type(3) {
      display: none;
    }
    /*  ## OLK::Remove Scrollbar */
    .markdown-embed-title
      .markdown-preview-view.markdown-rendered.show-indentation-guide.allow-fold-headings.allow-fold-lists {
      overflow: hidden;
    }
    .markdown-preview-sizer.markdown-preview-section {
      padding: 0 !important;
      padding-left: 5px !important;
      pointer-events: none;
    }
    .markdown-embed-link[aria-label="Open link"] {
      // display: none;
    }
  }
}

// ---------- end dataview section ---- ///

/** WORKING EMBED CONTAINER **/
// embedded content
.internal-embed.markdown-embed.inline-embed.is-loaded {
  padding-left: 1em !important;
  .markdown-preview-view.markdown-rendered {
    // padding so that the click to enter the embed link doesn't interfere with buttons.
    // padding-top: 1em;
  }
}

/** : Tranclusion/Embed sections */
// # NLK
.internal-embed[alt*="nlk"] {
  .markdown-embed-content:has(.markdown-embed-link) ~ .markdown-embed-link {
    // display: none;
  }
  &.markdown-embed.inline-embed.is-loaded
    .markdown-preview-view.markdown-rendered {
    padding-top: 0;
  }
  &.markdown-embed {
    /* hide file name on transcludes */
    .markdown-embed.inline-embed.is-loaded
      .markdown-preview-view.markdown-rendered {
      // background-color: blue;
      padding: 0 !important;
      padding-top: 0;
    }
    .embed-title.markdown-embed-title {
      display: none;
    }
    .inline-title {
      display: none;
    }
    .el-p p[dir="auto"] {
      margin: 0;
    }
    // padding: 0 !important;
    // padding-left: 5px !important;
    .markdown-preview-sizer.markdown-preview-section {
      // padding: 2em 0 0 0 !important;
      padding-left: 5px !important;
    }

    .markdown-preview-sizer > div:nth-of-type(3) {
      display: none;
    }
  }
}

span[alt*="nlk"] {
  &.internal-embed.markdown-embed {
    padding: 0;
    .markdown-preview-sizer.markdown-preview-section {
      padding-left: 0 !important;
    }
  }
}

// # Reading View
.markdown-reading-view {
  .internal-embed[alt*="nlk"].markdown-embed
    .markdown-preview-sizer.markdown-preview-section {
    padding: 0 0 0 0 !important;
    padding-left: 0px !important;
    margin: 0;
  }

  // Reading view content container
  .markdown-preview-sizer.markdown-preview-section {
    /* level 2 */
    // margin: 0 2em;
    border-radius: 1.5em 1.5em;
    background: #{shared.$shade};
  }
  .internal-embed[alt*="nlk"].markdown-embed
    .markdown-preview-sizer.markdown-preview-section {
    padding: 0 0 0 0 !important;
    padding-left: 0px !important;
    margin: 0;
  }
}

/** ## Tranclusion/Embed sections */

.internal-embed[alt*="nlk"].markdown-embed .embed-title.markdown-embed-title {
  // display: none;
}
.internal-embed[alt*="nlk"].markdown-embed
  .markdown-preview-sizer.markdown-preview-section {
  // padding: 0.1em 0 0 0 !important;
  padding-left: 5px !important;
}

// counter bug is that if i have this title is shown
// .internal-embed[alt*="nlk"].markdown-embed
//   .markdown-preview-sizer
//   > div:nth-of-type(3) {
//   // TODO until i know what this is don't save it.
//   border: 1px solid blue;
//   display: block !important;
//   // display: none;
//   // Bug there second order transclusions are blank
// }
// If i leave this on, then embedded library notes vanish
.internal-embed[alt*="nlk"].markdown-embed {
  h2[data-heading] {
    // display: none;
  }
}

span[alt*="nlk"].internal-embed.markdown-embed {
  padding: 0;
}
span[alt*="nlk"].internal-embed.markdown-embed
  .markdown-preview-sizer.markdown-preview-section {
  padding-left: 0 !important;
}

// # Shorten the link for maximum embed room.

:is(.canvas-wrapper, .markdown-source-view)
  .markdown-embed
  .markdown-embed-link[aria-label="Open\ link"] {
  width: 20%;
  background: #d0ab9f24;
  border-radius: 0 1em 0 1em;
  margin: 0 auto;
  justify-content: center;
  height: 3em;
  &:hover {
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2em;
    height: 2em;
  }
}
