@use "./shared/index.scss" as shared;

.markdown-source-view {
  .cm-contentContainer {
    .internal-embed[alt*="nlk"] {
      .markdown-embed-content {
        .markdown-preview-view {
          .markdown-preview-sizer.markdown-preview-section {
            h1[data-heading="="] {
              display: none;
            }
          }
        }
      }
    }
  }
}

/*  Code-block in Reading view embeds  */
.markdown-reading-view {
  .internal-embed.markdown-embed.inline-embed.is-loaded {
    .markdown-embed-content {
      .markdown-preview-view.markdown-rendered {
        background: shared.$tertiary-blue-700;
        border-radius: 0 0.2em 0 0;
      }
    }
  }
}

.markdown-source-view.mod-cm6 {
  .cm-contentContainer {
    @for $i from 2 through shared.$header-levels {
      .internal-embed.markdown-embed.inline-embed.is-loaded {
        .markdown-embed-content {
          .markdown-preview-view.markdown-rendered {
            h#{$i} {
              &:before {
                content: repeat(":", $i - 1) + " ";
                @include shared.header-indent-position(
                  $color: shared.$accentSecondary
                );
              }
            }
          }
        }
      }
    }
  }
}
