@use "./shared/index.scss" as shared;
@use "sass:list";
@use "sass:map";
@use "sass:math";

// Make bullet points more readable using color
.HyperMD-list-line.cm-line:nth-child(even) {
  color: shared.$material-color-deep-purple-200;

  span.cm-hmd-internal-link {
    color: shared.$material-color-orange-300;
    // color: shared.$secondaryAlt;
  }
}
$mapEvenOdd: (
  // https://github.com/sass/sass/issues/2327
  "true": "n + 2",
  "false": "2n+1"
);
.view-content .cm-contentContainer {
  // even links are pinkish
  // $modulo: $i % 2;
  // $evenOrOdd: map-get($mapEvenOdd, "#{$modulo == 0}");
  > div:first-child {
    div.HyperMD-list-line:has(span.cm-hmd-internal-link):nth-child(even) {
      span.cm-hmd-internal-link > a.cm-underline {
        // unresolved links are not direct children of internal link
        color: shared.$borderColor;
      }
    }
  }
}
// }

// indentation on all list items in source
.cm-hmd-list-indent {
  font-family: var(--font-monospace) !important;
}

input.task-list-item-checkbox[type="checkbox"] {
  border-color: shared.$material-color-deep-purple-200;
}

/* provides a borderless tcg card like experience to the checked box making the checkedbox seem fuller and brighter. */
input.task-list-item-checkbox[type="checkbox"]:checked {
  border-color: var(--checkbox-color);
}
