@use "@shared" as shared;

@import "./base-colors.scss"; // this needs to be refactore;

@import "./material-ui-colors.scss";

// see src/index.html for other entrypoints
@import "./statusbar.scss";
@import "./tab-bar";
@import "./embed-blocks";
@import "./headers";
@import "./embedded-headers.scss";

@import "./by-views/index.scss"; // this is the main entrypoint for views, it imports all the views.

@import "./table.scss";
@import "./popover.scss";
@import "./lists.scss";

@import "./plugin-stylings/index.scss";
@import "./experiments/index"; // this may say experiments but i think i use this a ton

@import "./sliding-window/index.scss";

@import "./migration/index.scss"; // here's where all the basic uses are;

// start to put core plugins into core.
@import "./core";

// # backrounds
// @import "./migration/index.scss"; // migration of old scss be careful of using index

// customs on demand snippets
@import "./cssclasses.scss";

// remove --- on every preview, regardless of popover or embed.
.markdown-preview-sizer.markdown-preview-section {
  min-height: fit-content !important;
  h1[data-heading^="---"] {
    > * {
      display: none;
    }
    display: none;
  }
}

//  # INTERIM TESTING
// can't target iframes because #document doesnt exist within root.
