@use "./shared/index.scss" as shared;

.markdown-preview-view,
.markdown-source-view {
  .cm-contentContainer {
    // dataview tables
    .cm-embed-block.markdown-rendered {
      .table-view-table {
        tbody {
          > tr {
            > td:nth-child(even),
            > td:nth-child(even) a {
              color: shared.$embedPrimaryLinkColor;
            }
          }
          > tr:nth-child(odd) td a.internal-link {
            color: shared.$embedPrimaryLinkColor;
          }
        }
      }
    }
    .cm-embed-block.cm-table-widget {
      div.markdown-rendered:has(table) {
        padding: 0.4em 0.4em;
        border: 1px solid shared.$material-color-purple-700;
      }
    }
    > .cm-content {
      table {
        // outline: 4px solid shared.$material-color-purple-700;
        background: transparent;
      }
    }
  }
}
